.c-square{
    max-width: 850px;
    height: auto;
}

.sq-red{
    min-width: 80px;
    min-height: 80px;
    background-color: red;
    color: white;
    margin: 2px;
}

.sq-green{
    min-width: 80px;
    min-height: 80px;
    background-color: green;
    color: white;
    margin: 2px;
}

.sq-blue{
    min-width: 80px;
    min-height: 80px;
    background-color: blue;
    color: white;
    margin: 2px;
}

.sq-empty{
    min-width: 80px;
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    margin: 2px;
}